*{
    margin:0;
    padding: 0;
    
    }
i{
        display: block;
    }
.nav-bottom label{
    width: 25%;
    border:1px solid black ;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    padding-top:3px;
}
.nav-bottom{
    background-color:rgb(222, 225, 230);
    height: 39px;
    width: 100%;
    position: fixed; 
    bottom: 0;
    text-align:center;
    
}